pandas
numpy
matplotlib
wikipedia
wikipedia-api

huggingface_hub[hf_xet]
kaggle
requests
tqdm

unsloth
unsloth-zoo
transformers
sentencepiece
sentence-transformers
faiss-cpu

torch --index-url https://download.pytorch.org/whl/cpu

rouge-score
nltk
scikit-learn

fastapi
uvicorn
pydantic
streamlit