pandas
numpy
matplotlib
beautifulsoup4
wikipedia
wikipedia-api

huggingface_hub[hf_xet]
kaggle
lxml
requests
tqdm

unsloth
unsloth-zoo
sentencepiece
sentence-transformers
faiss-cpu

rouge-score
nltk
scikit-learn

fastapi
uvicorn
pydantic

gradio
streamlit