pandas
numpy
beautifulsoup4
lxml
requests
tqdm

transformers>=4.39.0
datasets
accelerate
peft
bitsandbytes
sentencepiece

sentence-transformers
faiss-cpu

rouge-score
nltk
scikit-learn

fastapi
uvicorn

gradio
streamlit